<div id="container">
  <div class="m-3">
    <h1>&bull; Keep in Touch &bull;</h1>
  </div>
  <div class="icon_wrapper">
    <img src="https://res.cloudinary.com/dqbhsik89/image/upload/v1696435920/Logos_Adele_Port-50_gokzdr.png" alt="adele port weddings logo">
  </div>
  <%= form_for @contact_submission, html: { id: 'contact_form' } do |f| %>
    <div class="names">
      <% f.label :name %>
      <%= f.text_field :name, placeholder: "My name is", required: true %>
    </div>
    <div class="email">
      <% f.label :email %>
      <%= f.email_field :email, placeholder: "My e-mail is", required: true %>
    </div>
    <div class="telephone">
      <% f.label :phone %>
      <%= f.text_field :phone, placeholder: "My number is", required: true %>
    </div>
    <div class="message">
      <% f.label :message %>
      <%= f.text_area :message, placeholder: "I'd like to chat about", required: true %>
    </div>
    <div class="submit">
      <%= f.submit "Send Message", id: "form_button" %>
    </div>
  <% end %>

</div>
