<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from !</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name:<%=@contact_submission.name%> </p>
    <p>Email:<%=@contact_submission.email%> </p>
    <p>Address:<%=@contact_submission.address%> </p>
    <p>Phone:<%=@contact_submission.phone%> </p>
    <p>
    Message:<%=@contact_submission.message%><br>
    ----------
    </p>
  </body>
</html>
